@import 'variables';
@import '~grommet/scss/grommet-core/index';
@import '~grommet/scss/hpe/_objects.button-hpe';
@import '~grommet/scss/hpe/_objects.anchor-hpe';
@import url('https://fonts.googleapis.com/css?family=Lato|Open+Sans');

@for $i from 1 through 6 {
  h#{$i} {
    font-family: 'Lato';
    margin: 0;
    padding: 0;
  }
}

p {
  font-family: 'Open Sans'
}

ul {
  padding: 0;
  margin: 0;
}
